name: Go

on: push

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6

      - name: Test
        run: go test -v ./...

  vuln:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
      - name: Run govulncheck
        run: go run golang.org/x/vuln/cmd/govulncheck@latest ./...

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: windows
            goarch: amd64
          - goos: windows
            goarch: arm64
          - goos: darwin
            goarch: arm64
          - goos: darwin
            goarch: amd64
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: linux
            goarch: arm
            goarm: 7
          - goos: linux
            goarch: arm
            goarm: 6
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6

      - name: Build
        id: build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          GOARM: ${{ matrix.goarm }}
        run: |
          OS_ARCH="${{ matrix.goos }}-${{ matrix.goarch }}"
          if [ -n "${{ matrix.goarm }}" ]; then
            OS_ARCH="${OS_ARCH}-v${{ matrix.goarm }}"
          fi
          BINARY_NAME="ynabber-${OS_ARCH}"
          go build -o "$BINARY_NAME" ./cmd/ynabber/

          echo "binary=$BINARY_NAME" >> $GITHUB_OUTPUT

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.build.outputs.binary }}
          path: ${{ steps.build.outputs.binary }}
          retention-days: 7

  release:
    runs-on: ubuntu-latest
    needs: [build, test, vuln]
    if: github.ref_type == 'tag' && github.repository == 'martinohansen/ynabber'
    steps:
      - uses: actions/checkout@v6

      - name: Download all artifacts
        uses: actions/download-artifact@v7
        with:
          path: artifacts/

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/*/ynabber-*
